<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá Municípe</h1>
    <p>Você está recebendo esse email porque <%= @message %> </p>
    <p>Obrigado por estar conosco!</p>
  </body>
</html>
